@import url('https://fonts.googleapis.com/css2?family=Cuprum&display=swap');
@import 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
*{
    font-family: 'Cuprum', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    background: silver; 
    height: 80px;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    margin: 10px;
}

.header i{
    margin-right:8px;
    color:black;
}

.header a{
    text-decoration: none;
    color: teal;
    padding: 5px 20px;
    font-size: 25px;
    transition: .4s;
    margin: 15px;
    border-radius: 8px;
    font-weight: 600;
}

.header a:hover{
    background: dodgerblue;
    color: white;
    font-weight: bold;
}

.svyaz{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    height: 100%;
    width: 100%;
    /* justify-content: center;
    align-items: center; */
}

.content{
    flex: 33.3%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 10px;
    justify-content: center;
    align-items: center;
}


input{
    outline: none;
    transition: .5s;
}

::placeholder{
    color: black;
    font-size: 30px;
}

.content h1{
    font-size: 50px;
    border-bottom: 2px solid black;
}

.content input[type="text"]{
    margin-top: 25px;
    border: 1px solid crimson;
    padding: 15px;
    font-size: 20px;
    border-radius: 20px;
    width: 80%;
}

.content input[type="text"]:focus{
    width: 100%;
}

.content input[type="submit"]{
    margin-top: 20px;
    font-size: 20px;
    margin-left: 75px;
    padding: 15px 50px;
    background: indigo;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.content input[type="submit"]:hover{
    background: dodgerblue;
}



/* .content i{
    font-size: 80px;
    color: crimson;
} */

.number{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 85%;
    left: 37%;
    align-items: center;
    justify-content: center;
    animation: name 2s ease-in-out infinite;
}

@keyframes name{
    25%{
        transform: scale(.3);
        color: teal;
        border: 1px solid black; 
        box-shadow: 5px 3px 5px 3px rgba(228, 32, 32, 0.5);
    }

    50%{
        transform: scale(.6);
        border: 2px solid red;
        box-shadow: 8px 5px 8px 5px rgba(228, 32, 32, 0.6);
    }

    75%{
        transform: scale(1);
        border: 3px solid green;
        box-shadow: 10px 8px 10px 8px rgba(228, 32, 32, 0.7);
    }

    100%{
        border: 5px solid dodgerblue;
        transform: scale(1.1);
        box-shadow: 20px 10px 20px 20px rgba(228, 32, 32, 0.8);
    }
}

.number a{
    text-decoration: none;
    color: black;
    font-size: 40px;
}

.number i{
    color: crimson;
    margin-right: 5px;
    font-size: 50px;
    
}

.number:hover{
    animation: none;
}
